#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.page-banner {
  background-color: #e2c3a0;
  height: 300px;
  color: #95552f;
  font-size: 3rem;
  font-weight: bold;
}

.form-wrapper {
  background-color: #964e28;
  max-width: 700px;
  margin: 50px auto;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: white;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
  height: 55px;
}

.form-control::placeholder {
  color: white;
  opacity: 0.8;
}

.form-control:focus {
  background: transparent;
  color: white;
  box-shadow: none;
  border-color: white;
}
